extends layout

block content
  .container
    .row
        .col-md-12
          br
          form(role='form', action="/login",method="post", style='max-width: 300px;')
            .form-group
              input.form-control(type='text', name="username", placeholder='Введите логин')
            .form-group
              input.form-control(type='password', name="password", placeholder='Пароль')
            button.btn.btn-default(type='submit') Войти
            span
              | &nbsp;
              a(href='/')
                button.btn.btn-primary(type="button") Отмена